body {
	background-color: #FEFEFE;
	font-family: 'Lora', 'Times New Roman', serif;
	margin: 60px auto;
	width: 90%;
}

}
p {
	line-height: 1.5;
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
}

a img:hover,
a img:focus {
	cursor: zoom-in;
}

nav {
	position: relative;
}

.navbar-default .navbar-nav li a {
	color: #18B497;
	font-weight: bold;
	border-bottom: 4px solid #2C3E50;
}

.navbar-default .navbar-nav li a:hover {
	color: #FF4D72;
	text-decoration: none;
	border-bottom: 4px solid #FF4D72;
}

.navbar-default .navbar-nav li a:hover,
a:hover {
	color: #FF4D72;
	text-decoration: none;
}

.navbar-brand img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	padding: 0;
}

.navbar-brand span.brand-img {
	color: #FF4D72;
	font-size: 25px;
	position: absolute;
	top: 35px;
	left: 65px;
}

footer ul {
	font-weight: bold;
	list-style: none;
	padding-top: 1.2em;
}

footer ul li {
	margin-right: 20px;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

ul.posts li {
	list-style: none;
}

footer h4 {
	color: #18B497;
	font-family: cursive;
	font-size: .8em;
}

i.fa-heart {
	color: #FF4D72;
}

div.thumb-images {
	margin-top: 40px;
}

.green-text {
	color: #18B497;	
}
.red-text {
	color: #FF4D72;
}

.cv-container {
	margin-bottom: 60px;
}

.cv-container row {
	margin-top: 20px;
}

.cv-container div {
	display:block;
}

.cv-container ul li {
	type="disc"
}

@media (max-width: 767px) {
	
	.cv-container img {
		display:block;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 200px;
		width: 400px;
	}

	.cv-container div {
		display:block;
		width: 400px;
	}
}

@media only screen and (min-width: 768px) {
	.navbar-brand img {
		top: 4px;
	}
	
	.cv-container img {
		display:inline-block;
		vertical-align: top;
		padding-top: 20px;
		padding-bottom: 20px;
		height: 350px;
		width: 700px;

	}

	.cv-container div {
		display:inline-block;
		vertical-align: top;
	}

}
