---
layout: default
title: Jazzie Carroll
---
<h1>{{ page.title }}</h1>

<div class="blurb">
	<div class="row">
		<h3>Welcome to my Github Projects</h3>
		<p class="book-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin
  		gravida augue, a eleifend dolor. Sed sagittis ut odio vitae porta. Mauris
  		et sapien lacinia, ornare nulla sit amet, tincidunt turpis. Integer
		fringilla sem a odio condimentum, vel ullamcorper nulla sagittis.</p>
		
		<p class="book-info">Morbi faucibus id velit sit amet porta. Ut commodo sapien non justo
		vulputate, sed viverra lorem rhoncus. Morbi luctus urna pellentesque,
		accumsan erat in, accumsan nisl. Quisque tincidunt, arcu ac feugiat
		aliquet, lorem arcu pharetra nunc, nec blandit turpis mi ac felis. Duis
		orci arcu, pulvinar ut nisl at, porta semper sem. Pellentesque id posuere
		dui. Praesent a risus quis nulla viverra dignissim eu laoreet libero.</p>
	</div>
	<div class="thumb-images  row">
		<div class="col-xs-6 col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
		<div class="col-xs-6  col-md-3">
			<a href="http://jazziecarroll.github.io/Coursera-Fullstack-Course3-Module4-Solution/" class="thumbnail">
				<img src="https://raw.githubusercontent.com/jazziecarroll/module4-solution/gh-pages/images/module4-solution.png" alt="Chinese Restaurant Website Mockup">
			</a>
		</div>
	</div>
</div><!-- /.blurb -->
