---
layout: default
title: About Me
---
<h1>{{ page.title }}</h1>

<div class="blurb">
	<div class="about-container">
		<div class="row">
			<h3 class="text-center">Junior Fullstack Developer </h3>
			<h4 class="green-text text-center">┌student┘ Data Junkie ⌠ Analytics Fanatic⌡  ☺ Mud Runner &amp Mom ❤</h4>
			<h4 class="red-text text-center">Aspiration: Magician of Technology</h4>
		</div>
	</div>
</div><!-- /.blurb -->
