<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
    			<meta http-equiv="X-UA-Compatible" content="IE=edge">
    			<meta name="viewport" content="width=device-width, initial-scale=1">
    			<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/jazziecarroll/jazziecarroll.github.io/master/css/images/icon.png">
    			<meta name="description" content="{{ site.description }}">
			<meta name="author" content="Jazzie Carroll">
			<title>{{ page.title }}</title>
			<!-- Bootstrap Stylesheet -->
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
			<!-- Custom Stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<!-- Custom Fonts -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    			<link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    			<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
			<!-- Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		    	<!--[if lt IE 9]>
		        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		    <![endif]-->
		</head>
		<body>
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
			    <div class="container-fluid">
			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header page-scroll">
			            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="http://jazziecarroll.github.io/">
			            	<img src="https://raw.githubusercontent.com/jazziecarroll/jazziecarroll.github.io/master/css/images/jazziec.png" height="60", width="60">
			            	<span class="brand-img">Jazzie Carroll</span></a>
			        </div>
			
			        <!-- Collect the nav links, forms, and other content for toggling -->
			        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			        	<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
						<li><a href="/about"><i class="fa fa-user-secret" aria-hidden="true"></i> About</a></li>
						<li><a href="/cv"><i class="fa fa-graduation-cap" aria-hidden="true"></i> CV</a></li>
						<li><a href="/blog"><i class="fa fa-rss" aria-hidden="true"></i> Blog</a></li>
					</ul>
			        </div><!-- /.navbar-collapse -->
			    </div><!-- /.container -->
			</nav><!-- /nav -->	
			<div id="main" class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<nav class="navbar navbar-default navbar-fixed-bottom">
  					<div class="container">
			    			<ul class="list-inline pull-left">
			        			<li><a href="https://github.com/jazziecarroll?tab=repositories"><i class="fa fa-code" aria-hidden="true"></i> Repositories</a></li>
			        			<li><a href="https://github.com/jazziecarroll?tab=activity"><i class="fa fa-rss" aria-hidden="true"></i> Activity</a></li>
							<li><a href="mailto:jazziecarroll@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</a></li>
			        		</ul>
			        		<ul class="list-inline pull-right">
							<li><a href="http://jazziecarroll.github.io"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
			        			<li><a href="http://codepen.io/jazziecarroll"><i class="fa fa-codepen fa-lg" aria-hidden="true"></i>
</a></li>
			        			<li><a href="https://www.linkedin.com/in/jazziecarroll"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
			        			<li><a href="https://twitter.com/jazziecarroll"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
			        			<li><a href="https://www.facebook.com/jazziecarroll"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
						</ul>
					</div>
						<h4 class="text-center">Made with <i class="fa fa-heart danger" aria-hidden="true"></i> by JazzieCarroll</h4>
				</nav>
			</footer>
		</body>
	</html>
